[Unit]
Description=AIY Voice Kit Clock 🕰️
After=alsa-restore.service network.target sound.target dbus.service

[Service]
Type=simple
User=pi
Group=audio
WorkingDirectory=/home/pi/AIY-projects-python/src/voicekit-clock/
Environment="DISPLAY=:0"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStartPre=/usr/bin/timeout 60 /bin/sh -c 'while ! amixer -D default > /dev/null 2>&1; do sleep 1; done; sleep 15'
ExecStart=/usr/bin/python3 voicekit_clock.py
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
